<!-- templates/users/login.html -->
{% extends 'users/base.html' %}
{% block content %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label>Username:</label>
    <input type="text" name="username" class="form-control">
  </div>
  <div class="mb-3">
    <label>Password:</label>
    <input type="password" name="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<hr>
<p>Or login using:</p>
<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger">Google</a>
<a href="{% url 'social:begin' 'github' %}" class="btn btn-dark">GitHub</a>
<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary">Facebook</a>
{% endblock %}
